<div class="container">
<div class="row my-3">
    <div class="col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/Fiat-Tipo-2016-1024-29.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">FIAT TEBO</h5>
            <p class="card-text">Some quick example make up the bulk of th.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
     </div>
     <div class="col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/Fiat-Tipo-2016-1024-2a.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">FIAT TEBO</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
     </div>
     <div class="col-md-6 col-lg-4">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/Fiat-Tipo-2016-1024-29.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">FIAT TEBO</h5>
            <p class="card-text">Some qand make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
     </div>
</div>
</div>